<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-3.0.xsd"> 

	<context:component-scan base-package="com.pubmatic.service" />
	<mvc:annotation-driven />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean id="applicationContextProvider" class="com.pubmatic.util.SpringApplicationContextProvider"></bean>

   <bean id="phantomServerManager" class="com.pubmatic.phantom.PhantomServerManager" init-method="init">
		 <!--  <property name="exec"
			value="/devtools/phantom/build/phantomjs/bin/phantomjs" />
		<property name="script" value="/home/pubmatic/phantom/deliverables/phantomServerTest.js" />  -->
		<property name="exec"
                        value="/home/sohil.raghwani/beyonce/phantomJS/phantomjs-2.0/phantomjs/bin/phantomjs" />
                <property name="script" value="/home/sohil.raghwani/beyonce/phantomJS/phantom.js" />      	
		<property name="connectTimeout" value="500" />
		<property name="readTimeout" value="50000" />
		<property name="maxTimeout" value="60000" />
		<!-- load balencer details -->
		<property name="loadbalacerHost" value="localhost" />
		<property name="loadbalacerPort" value="8081" />
		<!-- java.util.Set -->
		<property name="ports">
			<set>
				<value>8001</value>
				<value>8002</value>
				<value>8003</value>
				<value>8004</value>
			</set>
		</property>
	</bean>
	<bean id="creativeWorkflow" class="com.pubmatic.workflow.CreativeWorkflow">
		<property name="name" value="creativeWorkflow" />

		<property name="creativeActions">
			<map>
				<entry key="phantomAction">
					<bean class="com.pubmatic.action.PhantomAction">
						<property name="name" value="phantomAction" />
						<property name="runType" value="serial" />
						<property name="phantomManager" ref="phantomServerManager" />
					</bean>
				</entry>
				<entry key="netLogAction">
					<bean class="com.pubmatic.action.NetLogAction">
						<property name="name" value="NetLogAction" />
						<property name="runType" value="serial" />
					</bean>
				</entry>
				<entry key="audioDiagnosticAction">
					<bean class="com.pubmatic.action.AudioDiagnosticAction">
						<property name="name" value="AudioDiagnosticAction" />
						<property name="runType" value="serial" />
					</bean>
				</entry>
				<entry key="flumeDispatchAction">
					<bean class="com.pubmatic.action.FlumeDispatchAction">
						<property name="name" value="flumeDispatchAction" />
						<property name="runType" value="serial" />
						<property name="dataSink" ref="netcatSink" />
					</bean>
				</entry>
				<entry key="riakDispatchAction">
					<bean class="com.pubmatic.action.RIAKDispatchAction">
						<property name="name" value="riakDispatchAction" />
						<property name="runType" value="serial" />
						<property name="dataSink" ref="riakSink" />
					</bean>
				</entry>
			</map>
		</property>


		<!-- java.util.Properties -->
		<property name="config">
			<props>
				<prop key="admin.contact">admin@testpubmatic.com</prop>
				<prop key="support.contact">support@testpubmatic.com</prop>
				<prop key="run.interval">60</prop>
			</props>
		</property>

	</bean>

	


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://172.16.4.37:3306/brand_control_config_db" />
		<property name="username" value="kdbuser" />
		<property name="password" value="KdBuSeR12!" />
	</bean>

	<bean id="creativeDAO" class="com.pubmatic.dao.JDBCCreativeDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="netcatSink" class="com.pubmatic.sink.NetCatSink">
		<property name="host" value="localhost" />
		<property name="port" value="8788" />
	</bean>

    <bean id="riakSink" class="com.pubmatic.sink.RiakSink" init-method="init">
    	<property name="host" value="localhost" />
		<property name="port" value="8087" />
		<property name="bucket" value="creativeInfo" />
	</bean>
	
   <!--  <bean id="scheduledTasks" class="com.pubmatic.scheduler.ScheduledTasks"></bean> -->
    
</beans>



